@import '../../styles/vars';
.home {
  &__preview {
    padding: 4.5vw 0 4vw;
    background-image: url('../../assets/gif/preview.gif');
    background-size: auto 145%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: black;
    &-title {
      max-width: 461px;
    }
    &-text {
      margin: 1.6vw 0px 1.3vw;
      max-width: 517px;
      p + p {
        margin-top: 1.5vw;
      }
    }
    &-coins {
      width: 27vw;
    }
  }
  &__empty {
    position: absolute;
    bottom: calc(100% + 145px);
  }
  &__about {
    position: relative;
  }
  &__descr {
    display: flex;
    background: $bg;
    &-box {
      width: 50%;
      height: 100%;
      img {
        width: 100%;
      }
      &-text {
        padding: 4vw 10px 4vw 4.5vw;
        color: black;
        p {
          max-width: 721px;
          display: block;
        }
        p + p {
          margin-top: 1.5vw;
        }
      }
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: 33.33vw 33.33vw 33.33vw;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  &__about {
    padding: 2.604vw 0 3.906vw;
    background: $bg;
    text-align: center;
    &-title {
      color: $gold-d !important;
    }
    &-text {
      color: black;
      margin-top: 1.042vw;
      p + p {
        margin-top: 0.781vw;
      }
    }
  }
  &__managers {
    &-bg {
      background-image: url(../../assets/img/sections/managers.jpg);
      background-size: cover;
      padding: 6.25vw 0 5.729vw;
      text-align: center;
    }
    &-title {
      color: $gold-d !important;
    }
    &-box {
      max-width: 990px;
      margin: 5.729vw auto 5.729vw;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__advisory-board {
    position: relative;
    margin-top: 120px;
    padding: 0 5% 50px;
    height: min-content;
    flex-direction: column;
    align-items: center;
    background-image: url('../../assets/img/advisory/bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    @media (max-width: 750px) {
      margin-top: 48px;
      padding: 0 0 50px;
    }

    &__line {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }

    &__header {
      text-align: center;
      padding: 91px 0 40px;
      font-family: 'MR', sans-serif;
      font-weight: 500;
      font-size: 61px;
      line-height: 74px;
      color: #7B6908;

      @media (max-width: 750px) {
        padding: 37px 0 20px;
        font-size: 40px;
        line-height: 48px;
      }
    }

    &__content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 1000px) {
  .home {
    &__preview {
      &-coins {
        margin: 0 auto;
        width: 61.035vw;
        display: block;
      }
    }

    &__advisory-board {
      background-size: auto 100%;
    }
  }
}
@media (max-width: 901px) {
  .home {
    &__empty {
      bottom: calc(100% + 50px);
    }
    &__preview {
      background-image: url('../../assets/gif/preview.gif');
      background-size: 200% auto;
      background-repeat: no-repeat;
      padding: 555px 0 0;
      background-position: 94% 191%;
      &-container {
        background: #000;
        padding: 25px 15px 35px !important;
      }
      &-title {
        max-width: 100%;
      }
      &-text {
        max-width: 100%;
        p + p {
          margin-top: 15px;
        }
      }
      &-coins {
        width: 100%;
        margin-top: 20px;
      }
    }
    &__descr {
      flex-direction: column;
      &-box {
        width: 100%;
        &-text {
          padding: 25px 15px 30px;
          p {
            max-width: 100%;
          }
          p + p {
            margin-top: 15px;
          }
        }
      }
    }
    &__cards {
      display: block;
    }
    &__about {
      padding: 30px 0 60px;
      &-text {
        margin-top: 20px;
        p + p {
          margin-top: 15px;
        }
      }
    }
    &__managers {
      &-title {
        font-size: 40px !important;
        line-height: 49px !important;
      }
      &-bg {
        background-image: url(../../assets/img/sections/managers-m.jpg);
        padding: 50px 0;
      }
      &-box {
        width: 100%;
        padding: 0 15px;
        margin-top: 20px;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
      }
    }
  }
}

@media (max-width: 500px) {
  .home {
    &__preview {
      padding: 305px 0 0;
      background-position: 94% -25%;
    }
  }
}
